main {
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  max-width: 75vw; 
  height: 100vh;
  margin: auto; 
}

button, input, select {
  border: 1px solid #666; 
  border-radius: 0.25em; 
  padding: 0.5em; 
  color: inherit; 
  font-size: 0.7rem;
  background-color: #111; 
  transition: 0.15s all ease-in-out;
}

.button-container  {display: flex; gap: 1em; }
.button-container.branding button { padding: 1em 1.5em; }
.button-container.rotation button { padding: 0.5em 1em; display: flex; align-items: center;}
button.selected {border: 1px solid #fff; background-color: #222;}
button:hover, input:hover, select:hover {background-color: #333;}
button[data-status="pending"] {animation: pulse 2s ease-in-out infinite;}
button img {height: 3em; width: auto; pointer-events: none;}

label {margin-bottom: 0.3em; font-size: 1.4rem;}
label.uppercase {text-transform: uppercase;}
label.small {text-transform: none; font-size: 0.8em; margin: 0;}
label + input { min-width: 10em;}
input, select { min-width: 15em;}

.networks, .password-box {margin-bottom: 0.3em;}
.networks img {height: 1em;}
svg {width: 1em;height: 1em;}
.connected-network {display: flex; justify-content: center; flex-direction: column;}
.networks button, .password-box button { display: flex; align-items: center; }

#dev-mode {display: none;}
#hidden-network-button {font-size: 0.7em; text-align: center; padding: 0; border: 0; margin-bottom: 0.3em;}

.network-settings {display: none;}
.network-settings[data-hidden-ssid="1"] .ssid {display: none;}
.network-settings[data-hidden-ssid="1"] .hidden {display: flex;}
.network-settings[data-hidden-ssid="0"] .ssid {display: flex;}
.network-settings[data-hidden-ssid="0"] .hidden {display: none;}

.multibutton {display: inline-flex; width: 100%;}
.multibutton input {border-right: none; border-bottom-right-radius: 0; border-top-right-radius: 0; flex-grow: 1;}
.multibutton button:first-of-type { border-top-left-radius: 0; border-bottom-left-radius: 0;}
.multibutton button + button {margin-left: 0.3em;}

#lets-go-button {display: none;}

body[data-show-network-settings="true"] .network-settings {display: block;}
body[data-show-network-settings="true"] .connected-network {display: none; }
body[data-has-had-connection="false"] #lets-go-button {display: none;}
body[data-has-had-connection="true"] #lets-go-button {display: block;}
body[data-dev-mode="true"] #dev-mode {display: flex; flex-direction: column; gap: 0.3em;}

#bottom-left {position: absolute;bottom: 0;left: 0;padding: 1vw;height: 50%; pointer-events: none;}
#top-right {position: absolute;top: 0;right: 0;padding: 1vw; height: 16%; pointer-events: none;}
#canvas {position: absolute; bottom: 6vw; right: 1rem; height: 16%;}

#error-message {font-size: 0.8em;}

.flex {display: flex; gap: 0.3em;}
.flex select {flex-grow: 1;}


@media (orientation: portrait) {  

  #bottom-left {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 1rem;
    height: 15rem;
  }
  #top-right {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
    height: 6rem;
  }

  #canvas {
    height: 10%;
    bottom: 9vw;
  }
}

@media (orientation: landscape) {
  :root {
    font-size: clamp(10px, 3vmin, 2vh);
  }
}
